@import "../../assets/stylesheets/application.css";


.image-gallery-svg {
      height: 50px !important;
      width: 50px !important;
      position: relative;
      padding: 1%;
      border-radius: 10%;
    }

    .image-gallery-slide {
      max-width: 100% !important;
      width: 100%;
      position: relative;
    }